<!--
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div> -->
<div class="row">
  <div class="col-md-8">
    <!--<button (click) = "selectAll();">Select All</button> <button (click) = "unselectAll();">Unselect All</button>-->

    <div style="padding:0px 10px 10px 10px">
      <button class ='left' (click)="ToggleRawOn()" [ngClass]="{'active': this.mode=='total', 'inactive': this.mode!='total'}">Total Cases</button>
      <button                (click)="TogglePerOn()" [ngClass]="{'active': this.mode=='per', 'inactive': this.mode!='per'}">Per 100,000</button>
      <button class ='right' (click)="ToggleNewOn()" [ngClass]="{'active': this.mode=='new', 'inactive': this.mode!='new'}">New Cases (7-day average)</button>
    </div>

    <nb-card>
      <nb-card-header>Cumulative Cases by City
        <nb-card-body class = "chart">
          <button nbButton [size]="this.sizing" (click)="selectAll();">
            Select All
          </button>
        </nb-card-body>
        <nb-card-body>
          <button nbButton [size]="this.sizing" (click)="unselectAll();">
            Unselect All
          </button>
        </nb-card-body>
        <span style="font-size: small">click the city names to select/unselect</span>
      </nb-card-header>
      <!--style="border:red;height: 750px"-->
      <nb-card-body style="padding: 16px 14px">
        <ngx-echarts-line style = {{this.chartHeight}} [parentSubject]="parentSubject"></ngx-echarts-line>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body>
        <p>Note: Some data may be missing due to misrecording of data or data was not reported for that day. Data where cumulative cases decrease are likely due to reclassification of cases.</p>
        <p>For reference, as of 7/19 the US has 1,128 cases per 100k, California has 949, and SCC has 387. 1,000 cases per 100k = 1%</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4" *ngIf="todaycounts">
    <div class="caseTable">
      <nb-card>
        <nb-card-header>Today's Numbers</nb-card-header>
        <nb-card-body>
          <div>
            <table>
              <tr>
                <th>City</th>
                <th>Total Cases</th>
                <th>New Cases</th>
              </tr>
              <tr *ngFor="let num of numbers">
                <td>{{names[num]}}</td>
                <td>{{todaycounts[num]}}</td>
                <td>{{todaychange[num]}}</td>
              </tr>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>




<!--
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Multiple x-axis</nb-card-header>
    <nb-card-body>
      <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Area Stack</nb-card-header>
    <nb-card-body>
      <ngx-echarts-area-stack></ngx-echarts-area-stack>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Bar Animation</nb-card-header>
    <nb-card-body>
      <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Radar</nb-card-header>
    <nb-card-body>
      <ngx-echarts-radar></ngx-echarts-radar>
    </nb-card-body>
  </nb-card>
</div>

-->
