<!--
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div> -->
<div class="row">
  <div class="col-md-8">
    <!--<button (click) = "selectAll();">Select All</button> <button (click) = "unselectAll();">Unselect All</button>-->

    <div style="padding:0px 10px 10px 10px">
      <button class ='left' (click)="ToggleRawOn()" [ngClass]="{'active': this.mode=='total', 'inactive': this.mode!='total'}">Total Cases</button>
      <button                (click)="TogglePerOn()" [ngClass]="{'active': this.mode=='per', 'inactive': this.mode!='per'}">Per 100,000</button>
      <button class ='right' (click)="ToggleNewOn()" [ngClass]="{'active': this.mode=='new', 'inactive': this.mode!='new'}">New Cases (7-day average)</button>
    </div>

    <nb-card>
      <nb-card-header><h1 style="all:unset">Covid Cases by City</h1>
          <nb-card-body class = "chart" style="padding-right: 0px">
            <button nbButton [size]="this.sizing" (click)="selectAll();">
              Select All
            </button>
          </nb-card-body>
          <nb-card-body style="padding-left: 12px">
            <button nbButton [size]="this.sizing" (click)="unselectAll();">
              Unselect All
            </button>
          </nb-card-body>
          <span style="font-size: small">click the city names to select/unselect</span>
        </nb-card-header>
      <!--style="border:red;height: 750px"-->
      <nb-card-body style="padding: 16px 14px">
        <ngx-echarts-line alt ="Interactive chart that displays COVID stats for cities in Santa Clara County" style = {{this.chartHeight}} [parentSubject]="parentSubject"></ngx-echarts-line>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body>
        <p>Note: Some data may be missing due to misrecording of data or data was not reported for that day. County-level stats and city-level stats usually update at separate times.</p>
        <p>For comparison, as of 10/31 the US had 2727 cases per 100k, California has 2318, and SCC has 1296. 1,000 cases per 100k = 1%</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4" *ngIf="todaycounts">
    <div class="caseTable">
      <nb-card>
        <nb-card-header style="text-align:center"><h2 style="all:unset;font-size: 16px">Today's Numbers</h2></nb-card-header>

        <nb-card-body>

          <div *ngIf="totalDeaths[1]">
            <table style = "margin-left: auto; margin-right: auto">
              <tr>
                <td style="padding-top: 0px">Total Cases</td>
                <td style="padding-top: 0px">Total Deaths</td>
              </tr>
              <tr>
                <td class = "metricEntry" style="color: firebrick;font-weight: bold;">{{totalCases[0].metric}} ({{totalCases[2]}}{{newCases}})</td>
                <td class = "metricEntry" style="color: gray;font-weight: bold;">{{totalDeaths[0].metric}} ({{totalDeaths[2]}}{{totalDeaths[0].metric-totalDeaths[1].metric}})</td>
              </tr>
            </table>
            <span *ngIf="latestMetricDay" style="font-size: 12px; line-height: 0; padding: 4px 2px 10px 4px; float:right;" [ngClass]="{'color-green': this.currentDay==this.latestMetricDay, 'color-red': this.currentDay!=this.latestMetricDay}">Updated {{latestMetricDay}}</span>
          </div>


          <hr style="border: .5px solid #1b1b38; width: 100%; height: 0px; margin-top: 15px; margin-bottom: 4px">


          <div>
            <table>
              <tr>
                <th>City</th>
                <th>Total Cases</th>
                <th>New Cases</th>
              </tr>
              <tr *ngFor="let num of numbers">
                <td class = "cityEntry">{{names[num]}}</td>
                <td class = "cityEntry">{{todaycounts[num]}}</td>
                <td class = "cityEntry">{{todaychange[num]}}</td>
              </tr>
            </table>
            <span *ngIf="latestMetricDay" style="font-size: 12px; line-height: 0; padding: 4px 2px 1px 2px; float:right;" [ngClass]="{'color-green': this.currentDay==this.latestCityDay, 'color-red': this.currentDay!=this.latestCityDay}">Updated {{latestCityDay}}</span>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>




<!--
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Multiple x-axis</nb-card-header>
    <nb-card-body>
      <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Area Stack</nb-card-header>
    <nb-card-body>
      <ngx-echarts-area-stack></ngx-echarts-area-stack>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Bar Animation</nb-card-header>
    <nb-card-body>
      <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Radar</nb-card-header>
    <nb-card-body>
      <ngx-echarts-radar></ngx-echarts-radar>
    </nb-card-body>
  </nb-card>
</div>

-->
