<nb-card>
  <nb-card-header>About</nb-card-header>
    <nb-card-body>
        - Hi! This site was made by Kevin Fu. I'm currently a college student at UCSD.<br><br>
        - I made this website to show trends of Covid cases in individual cities since the official dashboard only shows current day counts. <br><br>
        - All data is sourced from sccgov.org/sites/covid19/Pages/dashboard.aspx. <br><br>
      - If you have any feedback or comments, send them to <span style="color: #b19cd9;font-weight: bold">cov19scc@gmail.com</span>
    </nb-card-body>
</nb-card>
