<nb-card>
  <nb-card-header>About</nb-card-header>
    <nb-card-body>
        - Hi! This site was made by Kevin Fu. I'm currently a high schooler at Lynbrook High School.<br><br>
        - I made this website to show changes and trends of Covid-19 in individual cities since the official dashboard currently only shows present day counts. <br><br>
        - All data is sourced from sccgov.org. Updates usually occur between 12-5 pm. <br><br>
        - As of right now, some planned features include adding case counts adjusted for population, new cases by day graphs, and important county-level stats (e.g deaths or infectivity rate). <br><br>
      - If you have any feedback or comments, send them to <span style="color: #b19cd9;font-weight: bold">cov19scc@gmail.com</span>
    </nb-card-body>
</nb-card>
