
<div class="header-container">
  <div class="logo-container">
    <!--<a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>-->

    <a class="logo" routerLink="/"><h1 style="all:unset;margin:unset;width:unset;height:unset;padding: unset">Santa Clara County City-Level Coronavirus Dashboard</h1></a> <!-- changes title -->
    <nav style="box-shadow: none; font-size: 15px;padding: .5rem"><a routerLink="/zipcodes">Zipcodes</a></nav>
    <nav style="box-shadow: none; font-size: 15px; padding: .5rem"><a routerLink="/about">About</a></nav>

  </div>
  <!--<nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>-->
</div>

<!--
<div class="header-container">
  <div class="update">
    <span style="font-size: 12px; line-height: 0;" [ngClass]="{'color-green': this.currentday==this.updateday, 'color-red': this.currentday!=this.updateday}">Last Updated: {{updateday}}</span>
  </div>
</div>-->
